*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
#root,
canvas {
  margin: 0;
  padding: 0;
}

:root {
  /* Colors */
  --clr-primary: white;
  --clr-primary-opac: rgba(255,255,255, .5);
  --clr-gadget-bg: rgba(0,0,0,.3);
  --clr-text: whitesmoke;

  /* Borders */
  --br-med: 1.5em;

  /* Fonts */
}

body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.App {
  position: relative;
}

.App svg,
.App canvas {
  position: absolute;
  z-index: -999;
  display: block;
  object-fit: cover;
  object-position: center;
}

/* Layout */

.main-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.column-left,
.column-center,
.column-right {
  height: 100%;
}

.column-left,
.column-right {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 20%;
  /* background-color: lightblue; */
}

.column-center {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #666666;
}

.column-right {
  min-width: 400px;
  padding: 0 1em;
  align-items: flex-end;
}

@media (max-width: 930px) {
  .column-left,
  .column-right {
    display: none;
  }

  .column-center {
    width: 90%;
  }
}

/* Search section */

.search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.search-input-box {
  position: relative;
  width: 100%;
  max-width: 600px;
  margin: 6em 0 6em 0;
}

.search-input-box button {
  position: absolute;
  display: flex;
  background-color: transparent;
  top: 0;
  border: 0;
  height: 100%;
  font-size: 1rem;
}

#btn-google {
  right: 34px;
}

#btn-youtube {
  right: 6px;
}

.search-icon {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 36px;
  height: 100%;
  color: gray;
  font-size: 1.2rem;
}

.youtube-icon {
  font-size: 1.4em;
  margin: auto;
  color: lightgray;
  opacity: .7;
  cursor: pointer;
}

.youtube-icon:hover {
  opacity: 1;
}

.youtube-icon.active {
  color: red;
}

.google-icon {
  font-size: 1.2rem;
  margin: auto;
  color: lightgray;
  opacity: .7;
  cursor: pointer;
}

.google-icon.active {
  background: conic-gradient(from -45deg at 34% 50%,
    #E94235 0deg 110deg, #4285F4 110deg 180deg, #34A853 180deg 270deg,#FABB05 270deg 360deg);
	background-clip: text;
	-webkit-text-fill-color: transparent;
}

.google-icon:hover {
  opacity: 1;
}

.search-input {
  font: 16px arial, sans-serif;
  padding: .6em 2.1em;
  border-radius: 999px;
  border: 0;
  width: 100%;
}

/* Clock section */

#time h1,
#time p {
  background: linear-gradient(#eee, #c2c2c2);
  background-size: 100%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  filter: drop-shadow(0 1px 1px rgba(0,0,0,.5));
  margin: 0;
}

#time h1 {
  margin: 0 0 -30px 0;
}

#time {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Exo 2', sans-serif;
  font-weight: 700;
  font-size: 4rem;
  user-select: none; /* supported by Chrome and Opera */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none;
  margin-bottom: 3rem;
}

.row-clock {
  font-family: 'Exo', sans-serif;
}

.row-date {
  font-size: 2rem;
}

/* Weather */

.weather-container {
  position: relative;
  font-family: 'Exo 2', sans-serif;
  background-color: var(--clr-gadget-bg);
  border-radius: 25px;
  width: 100%;
  max-width: 400px;
  min-height: 350px;
  padding: 2em;
  color: whitesmoke;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.weather-header {
  font-size: 1rem;
}

.weather-body {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 160px;
  grid-template-areas: 
    "image image"
    "weather weather"
    "details temp";
    justify-content: center;
    align-items: flex-end;
}

.weather-image {
  width: 100%;
  height: 200px;
  max-height: 160px;
  max-width: 160px;
  object-fit: contain;
  object-position: center;
  grid-area: image;
  justify-self: center;
}

.weather-type {
  position: absolute;
  top: -25px;
  grid-area: weather;
  justify-self: center;
}

.weather-details {
  grid-area: details;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.weather-details-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: .5em;
}

.weather-details-item i {
  font-size: 1.2rem;
  color: var(--clr-primary-opac);
  margin-right: 10px;
  align-self: center;
}

.weather-big {
  justify-self: flex-end;
  align-self: flex-end;
  font-size: 5rem;
  font-weight: 400;
  grid-area: temp;
}

.weather-small {
  font-size: .8rem;
  opacity: .7;
}

.weather-updated {
  position: absolute;
  bottom: 10px;
  right: 20px;
  color: rgba(255,255,255,.2);
  font-size: x-small;
  cursor: default;
}

.weather-updated:hover {
  color: whitesmoke;
}

/* Settings Bar */

.btn-settings {
  opacity: .5;
  /* animation: spin-back 1s, opacity 1s; */
  transition: transform 1s;
}

.btn-settings:hover {
  opacity: 1;
}

.btn-settings.active {
  opacity: 1;
  transform: rotate(360deg);
}

.settings-container {
  align-self: flex-end;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.settings-container button {
  display: flex;
  justify-content: center;
  background-color: transparent;
  border: 0;
  font-size: 1.5rem;
  color: white;
  cursor: pointer;
  margin: 8px;
  padding: 0;
}

.settings-bar {
  display: flex;
  flex-direction: row-reverse;
  margin: 5px;
  border-radius: 15px;
  transition: opacity .5s;
}

.settings-bar.active {
  background-color: rgba(0,0,0,.4);
}

.settings-item {
  display: none;
  opacity: 0;
  transition: opacity .5s;
}

.settings-item.active {
  display: flex;
  opacity: 1;
}

.settings-item.off {
  color: rgba(255, 255, 255, .3);
}

.settings-item.off:hover {
  color: rgba(255, 255, 255, .7);
  color: #fff533;
}

/* Favourites */

.favourites-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 6em;
  cursor: pointer;
}

.favourites-container a,
.favourites-container .btn-new-fav,
.btn-fav-item-menu {
  all: unset;
  font-family: 'Exo 2', sans-serif;
}

.btn-fav-item-menu span {
  display: block;
}

.favourites-container a p {
  margin-top: 5px;
}

.fav-wrapper {
  position: relative;
  overflow: hidden;
}

.fav-wrapper .btn-fav-settings {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
  color: rgba(255, 255, 255, .3);
  background-color: transparent;
  border: 0;
  border-radius: 0 15px 0 15px;
  font-size: 1.2rem;
  padding: 10px 5px;
  cursor: pointer;
}

.fav-wrapper .btn-fav-settings:hover {
  background-color: rgba(0,0,0,.5);
  color: white;
}

.btn-fav-settings.hidden {
  display: none;
}

.favourites-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: whitesmoke;
  width: 120px;
  height: 100px;
  background-color: rgba(0,0,0,.1);
  transition: background-color .3s;
  border: 0;
  border-radius: 15px;
}

.favourites-card.new {
  background-color: rgba(0,0,0,0);
}

.favourites-card:hover {
  background-color: rgba(0,0,0,.3);
}

.favourites-card img {
  object-fit: contain;
  height: 60px;
  max-height: 60px;
  margin: 5px 5px 0 5px;
  border-radius: 50%;
  overflow: hidden;
}

.favourites-card img:before {
  content: ' ';
  display: block;
  position: absolute;
  height: 60px;
  width: 60px;
  background-image: url(/public/images/global-line.png);
}

.favourites-card p {
  margin: 0;
}

.favourites-card i {
  font-size: 4rem;
  color:rgba(255, 255, 255, .3)
}

.fav-item-menu {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,.5);
  border-radius: 15px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.fav-item-menu.hidden {
  display: none;
}

.btn-fav-item-menu {
  background-color: rgba(0,0,0,.5);
  color: whitesmoke;
  height: 50%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  z-index: 10;
}

.btn-fav-item-menu:hover {
  background-color: rgba(0,0,0,.8);
}

.btn-fav-item-menu i {
  font-size: larger;
  font-weight: lighter;
  margin: 0 .5em;
}

/* Popup */

:root {
  --input-secondary-color: rgba(255,255,255,.5);
}

.blurred {
  filter: blur(5px);
}

.popup-fade {
  position: absolute;
  z-index: 999;
  background-color: rgba(0,0,0,.5);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup-fade.hidden {
  display: none;
}

.popup-container {
  background-color: rgb(29, 29, 29);
  color: whitesmoke;
  padding: 1em;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  font-family: 'Exo 2', sans-serif;
  min-width: 300px;
}

.popup-header {
  margin-bottom: 1em;
}

.popup-body {
  display: flex;
  flex-direction: column;
}

.popup-body label {
  font-size: .8rem;
  color: var(--input-secondary-color);
}

.popup-input {
  margin-bottom: 1em;
  background-color: transparent;
  border: 0;
  border-bottom: 2px solid var(--input-secondary-color);
  color: whitesmoke;
  padding: 5px 0;
}

.popup-input:focus {
  outline: none;
}

.popup-controls {
  display: flex;
  justify-content: flex-end;
  gap: 5px;
}

.popup-controls button {
  font-family: 'Exo 2', sans-serif;
  background-color: transparent;
  border-radius: 6px;
  color: whitesmoke;
  border: none;
  padding: .5em 1em;
  cursor: pointer;
}

.popup-controls button:hover {
  background-color: rgba(255,255,255,.1);
}

/* SmartHome */

.smarthome-container {
  font-family: 'Exo 2', sans-serif;
  background-color: var(--clr-gadget-bg);
  color: var(--clr-text);
  border-radius: var(--br-med);
  padding: 1em;
  margin-top: 2em;
  display: flex;
  flex-direction: column;
  width: 80%;
}